<div class="row mb-3" *ngIf="photos">
    <div class="col-2 mb-1" *ngFor="let photo of photos">
        <h4>{{photo.username}}</h4>
        <img src="{{photo.url}}" alt="{{photo.username}}" class="img-thumbnail mb-1">
        <div class="text-center">
            <button class="btn btn-sm btn-outline-success"
            (click)="approvePhoto(photo.id)"
            ><i class="fa fa-check"></i></button>
            <button class="btn btn-sm btn-outline-danger ms-2"
            (click)="rejectPhoto(photo.id)"
            ><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>
